
body {
  background-color: lightblue;
}
.test {
  border: 1px solid black;
  background-color: #ffb4b0;
  padding: 1em ;
  box-sizing: border-box;
  text-align: left;
  list-style: none;
  display: inline-block;
 }

#title-screen{
  height:650px;
}
/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

